.header {
    background: #475b6a;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #16e368;
    font-size: 45px;
    margin-left: 40px;
}
